----
<img src="../../files/refinitiv.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Get history
This notebook demonstrates how to retrieve Pricing history and Fundamental & Reference history using the get_history() function.

#### About the get_history function
The get_history() function allows you to retrieve pricing history as well as Fundamental & Reference data history via a single function call.


***get_history()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optional: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optional: Yes  
-  ***interval***: Dat interval  
    - Type: String
    - Supported values: *tick, tas, taq, minute, 1min, 5min, 10min, 30min, 60min, hourly, 1h, daily, 1d, 1D, 7D, 7d, weekly, 1W, monthly, 1M, quarterly, 3M, 6M, yearly, 1Y*       
    - Optional: Yes  
-  ***start***: The start date and timestamp of the requested history
    - Type: String expressed in ISO8601 with UTC only
    - Optional: Yes  
-  ***end***: The end date and timestamp of the requested history  
    - Type: String expressed in ISO8601 with UTC only
    - Optionnal: Yes  
-  ***adjustments*** : Tells the system whether to apply or not apply CORAX (Corporate Actions) events or exchange/manual corrections or price and volume adjustment according to trade/quote qualifier summarization actions to historical time series data. 
    - Type: String expressed in ISO8601 with UTC only
    - Optional: Yes  
    - Supported values:
        - exchangeCorrection - Apply exchange correction adjustment to historical pricing
        - manualCorrection - Apply manual correction adjustment to historical pricing i.e. annotations made by content analysts
        - CCH - Apply Capital Change adjustment to historical Pricing due to Corporate Actions e.g. stock split
        - CRE - Apply Currency Redenomination adjustment when there is redenomination of currency
        - RTS - Apply Refinitiv TimeSeries adjustment to adjust both historical price and volume
        - RPO - Apply Refinitiv Price Only adjustment to adjust historical price only not volume
        - unadjusted - Not apply both exchange/manual correct and CORAX
        - qualifiers - For tick, tas and taq intervals only. Apply price or volume adjustment to historical pricing according to trade/quote qualifier summarization actions e.g. noPrice, noVolume, noPriceAndVolume, noBid, noAsk, noBidAndAsk, outOfSessionIntraday, outOfSessionInterday.
-  ***count*** : The maximum number of data points returned. 
Values range: 1 - 10000
    
**get_history()** returns a pandas.DataFrame. It raises exceptions on error and when no data is available.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/tutorials),
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import refinitiv.data as rd

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Retrieve data

### Pricing history

In [3]:
rd.get_history("LSEG.L")

LSEG.L,TRDPRC_1,MKT_HIGH,MKT_LOW,ACVOL_UNS,MKT_OPEN,BID,ASK,TRNOVR_UNS,VWAP,MID_PRICE,...,OPN_AUCVOL,OPN_AUC,CLS_AUC,TRD_STATUS,INT_AUC,INT_AUCVOL,EX_VOL_UNS,ALL_C_MOVE,ELG_NUMMOV,NAVALUE
Date,,,,,,,,,,,,,,,,,,,,,
2023-02-07,7552.611,7628,7506.0,423861,7612,7562,7564,3208096140.66,7568.4759,7563,...,3220,7612,7564,1,<NA>,<NA>,461046,2786,2483,<NA>
2023-02-08,7599.46015,7626,7570.0,404532,7574,7592,7594,3075005378.66,7601.3737,7593,...,2442,7574,7594,1,<NA>,<NA>,563865,2630,2266,<NA>
2023-02-09,7693.9855,7778,7608.0,744747,7634,7654,7656,5700674961.31,7654.4294,7655,...,2844,7634,7656,1,<NA>,<NA>,830217,3080,2520,<NA>
2023-02-10,7626.17,7678,7594.0,499159,7642,7622,7624,3806799988.75,7626.4155,7623,...,10662,7642,7624,1,<NA>,<NA>,585351,4070,3547,<NA>
2023-02-13,7632.0,7674,7568.0,595645,7638,7632,7634,4543887206.4999,7628.5113,7633,...,8157,7638,7632,1,<NA>,<NA>,673791,3779,3371,<NA>
2023-02-14,7658.0,7726,7646.0,551063,7652,7658,7660,4222217959.9,7661.9263,7659,...,7434,7652,7658,1,<NA>,<NA>,585557,2126,1851,<NA>
2023-02-15,7748.0,7756,7634.0,301650,7650,7738,7742,2329197868.25,7721.8293,7740,...,7151,7650,7738,1,<NA>,<NA>,372929,2823,2436,<NA>
2023-02-16,7811.8271,7848,7652.0,454749,7774,7692,7696,3523041425.98457,7747.219,7694,...,3702,7774,7696,1,<NA>,<NA>,546823,2768,2415,<NA>
2023-02-17,7644.0,7676,7590.0,647207,7660,7614,7616,4937961358.47376,7629.6461,7615,...,8624,7660,7614,1,7630,66712,732900,4300,3922,<NA>
2023-02-20,7634.02032,7650,7572.0,439596,7642,7588,7590,3348597635.31188,7617.4421,7589,...,4921,7642,7588,1,<NA>,<NA>,479873,2496,2198,<NA>
2023-02-21,7565.5,7600,7500.0,937659,7544,7570,7572,7084114066.93,7555.1087,7571,...,3089,7544,7572,1,<NA>,<NA>,1088158,4335,3332,<NA>
2023-02-22,7535.1809,7594,7470.0,628084,7568,7498,7502,4717316895.87,7510.6439,7500,...,3619,7568,7500,1,<NA>,<NA>,1049476,5451,4959,<NA>
2023-02-23,7496.0,7532,7480.0,513812,7506,7500,7502,3855709693.32,7504.1265,7501,...,4003,7506,7500,1,<NA>,<NA>,575636,3652,3314,<NA>
2023-02-24,7536.0,7558,7478.0,433796,7510,7536,7538,3265540647.23,7527.825,7537,...,4487,7510,7538,1,<NA>,<NA>,571802,3738,3374,<NA>
2023-02-27,7507.38268,7626,7484.0,461213,7530,7516,7518,3467009684.06536,7517.1532,7517,...,11770,7530,7518,1,<NA>,<NA>,558888,4320,3838,<NA>
2023-02-28,7432.93182,7526,7380.0,1330484,7450,7432,7434,9903571567.814251,7443.58562,7433,...,14862,7450,7432,1,<NA>,<NA>,1429146,4536,4061,<NA>
2023-03-01,7470.0,7562,7410.0,711067,7414,7448,7450,5303277740.99,7457.8471,7449,...,4953,7414,7448,1,<NA>,<NA>,851082,5626,4821,<NA>
2023-03-02,7288.55277,7484,7232.0,1314403,7370,7422,7424,9702431130.540001,7381.615,7423,...,22054,7370,7424,1,<NA>,<NA>,1777546,9221,8103,<NA>
2023-03-03,7568.0,7660,7456.5,601269,7464,7568,7570,4561736847.29,7586.8448,7569,...,5839,7464,7568,1,<NA>,<NA>,851329,5935,4912,<NA>
2023-03-06,7567.0,7656,7422.0,398703,7550,7484,7488,2993876995.24628,7509.0333,7486,...,13394,7550,7484,1,<NA>,<NA>,505205,3720,3227,<NA>

In [4]:
rd.get_history(universe="LSEG.L", fields=["BID", "ASK"], interval="1D",
               start = '2022-10-01', end = '2023-01-28')

LSEG.L       BID   ASK
Date
2022-10-03  7638  7640
2022-10-04  7716  7718
2022-10-05  7788  7790
2022-10-06  7682  7684
2022-10-07  7544  7546
...          ...   ...
2023-01-23  7328  7330
2023-01-24  7262  7264
2023-01-25  7294  7296
2023-01-26  7322  7324
2023-01-27  7386  7388

[82 rows x 2 columns]

In [5]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields="BID", interval="1Y")

BID              LSEG.L       VOD.L
Date
2004-12-31   534.342576  141.208597
2005-12-31   567.048027  125.435296
2006-12-31  1205.780114  141.586252
2007-12-31  1822.947934  188.146829
2008-12-31    469.78446  139.280777
2009-12-31    658.61939  143.741371
2010-12-31   771.459775  166.194695
2011-12-31   729.547632  183.355671
2012-12-31   997.601118  158.245476
2013-12-31  1595.424872  242.902706
2014-12-31       2213.0      222.65
2015-12-31       2742.0       221.0
2016-12-31       2873.0       199.8
2017-12-31       3786.0      234.85
2018-12-31       4060.0       152.9
2019-12-31       7722.0      146.76
2020-12-31       9008.0      120.94
2021-12-31       6930.0      112.18
2022-12-31       7136.0       84.24
2023-12-31       7484.0      101.18

In [6]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields=["BID", "ASK"], interval="1Y")

                 LSEG.L                    VOD.L
                    BID          ASK         BID         ASK
Date
2004-12-31   534.342576   536.185136  141.208597  141.458966
2005-12-31   567.048027   571.193788  125.435296  125.685666
2006-12-31  1205.780114   1206.70126  141.586252  141.836848
2007-12-31  1822.947934   1823.86908  188.146829  188.247067
2008-12-31    469.78446   476.232482  139.280777  139.330896
2009-12-31    658.61939   661.382828  143.741371  144.042085
2010-12-31   771.459775   771.920348  166.194695  166.345052
2011-12-31   729.547632    732.31107  183.355671  183.458162
2012-12-31   997.601118  1002.206848  158.245476  158.296721
2013-12-31  1595.424872  1596.346018  242.902706  243.056442
2014-12-31       2213.0       2221.0      222.65       222.7
2015-12-31       2742.0       2744.0       221.0       221.1
2016-12-31       2873.0       2914.0       199.8      199.85
2017-12-31       3786.0       3793.0      234.85       235.0
2018-12-31       4060.0       4062.0       152.9      153.06
2019-12-31       7722.0       7750.0      146.76      146.86
2020-12-31       9008.0       9016.0      120.94      120.96
2021-12-31       6930.0       6938.0      112.18      112.26
2022-12-31       7136.0       7138.0       84.24       84.25
2023-12-31       7484.0       7488.0      101.18      101.22

### Fundamental data

In [7]:
rd.get_history(universe="LSEG.L", fields="TR.Revenue", interval="1Y", start="2015-01-01", end="2020-10-01")

LSEG.L         Revenue
Date
2014-12-31   957300000
2015-12-31  1418600000
2016-12-31  1657000000
2017-12-31  1955000000
2018-12-31  2135000000

In [8]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields="TR.Revenue", interval="1Y", start="2015-01-01", end="2020-10-01")

Revenue         LSEG.L        VOD.L
Date
2014-12-31   957300000         <NA>
2015-03-31        <NA>  48385000000
2015-12-31  1418600000         <NA>
2016-03-31        <NA>  49810000000
2016-12-31  1657000000         <NA>
2017-03-31        <NA>  47631000000
2017-12-31  1955000000         <NA>
2018-03-31        <NA>  46571000000
2018-12-31  2135000000         <NA>
2019-03-31        <NA>  43666000000

### Fundamental and pricing

In [9]:
rd.get_history(
    universe='LSEG.L',
    fields=["BID", "ASK", "TR.Revenue"],
    interval="1Y",
    start="2015-01-01",
    end="2019-10-01",
)

LSEG.L       BID   ASK     Revenue
Date
2014-12-31  <NA>  <NA>   957300000
2015-12-31  2742  2744  1418600000
2016-12-31  2873  2914  1657000000
2017-12-31  3786  3793  1955000000
2018-12-31  4060  4062        <NA>
2019-12-31  7722  7750        <NA>

In [10]:
rd.get_history(
    universe=["IBM.N", "VOD.L"],
    fields=["BID", "ASK", "TR.Revenue"],
    interval="1Y",
    start="2015-01-01",
    end="2020-10-01",
)

                 IBM.N                                VOD.L              \
                   BID         ASK      Revenue         BID         ASK
Date
2014-12-31        <NA>        <NA>  92793000000        <NA>        <NA>
2015-03-31        <NA>        <NA>         <NA>        <NA>        <NA>
2015-12-31   131.39236  131.411463  81741000000   131.39236  131.411463
2016-03-31        <NA>        <NA>         <NA>        <NA>        <NA>
2016-12-31  158.547672  158.576327  79919000000  158.547672  158.576327
2017-03-31        <NA>        <NA>         <NA>        <NA>        <NA>
2017-12-31  146.627226  146.636777  79139000000  146.627226  146.636777
2018-03-31        <NA>        <NA>         <NA>        <NA>        <NA>
2018-12-31  108.516182  108.535285  79591000000  108.516182  108.535285
2019-03-31        <NA>        <NA>         <NA>        <NA>        <NA>
2019-12-31  127.963321  127.991976         <NA>  127.963321  127.991976
2020-12-31  120.159631  120.236044         <NA>  120.159631  120.236044


                Revenue
Date
2014-12-31         <NA>
2015-03-31  48385000000
2015-12-31         <NA>
2016-03-31  49810000000
2016-12-31         <NA>
2017-03-31  47631000000
2017-12-31         <NA>
2018-03-31  46571000000
2018-12-31         <NA>
2019-03-31  43666000000
2019-12-31         <NA>
2020-12-31         <NA>

In [11]:
rd.get_history(
    universe=["IBM.N", "VOD.L"],
    fields=["BID", "ASK", 'TR.F.NetIncAfterTax', 'TR.RevenueMean'],
    interval="tick",
  
)

                          IBM.N                                              \
                            BID     ASK Net Income after Tax Revenue - Mean
Timestamp
2022-03-31 00:00:00.000    <NA>    <NA>                 <NA>           <NA>
2022-12-31 00:00:00.000    <NA>    <NA>           1852000000           <NA>
2023-02-01 00:00:00.000    <NA>    <NA>                 <NA>    62752497000
2023-02-14 00:00:00.000    <NA>    <NA>                 <NA>           <NA>
2023-03-06 20:59:59.815  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.815  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.843  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.870  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.970  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.980  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.986  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.988  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.995  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.997  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.997  130.18  130.19                 <NA>           <NA>
2023-03-06 20:59:59.997  130.18  130.19                 <NA>           <NA>
2023-03-06 21:00:00.008  130.18  130.19                 <NA>           <NA>
2023-03-06 21:00:00.238     0.0     0.0                 <NA>           <NA>
2023-03-06 21:00:02.279     0.0     0.0                 <NA>           <NA>

                          VOD.L
                            BID     ASK Net Income after Tax Revenue - Mean
Timestamp
2022-03-31 00:00:00.000    <NA>    <NA>           2624000000           <NA>
2022-12-31 00:00:00.000    <NA>    <NA>                 <NA>           <NA>
2023-02-01 00:00:00.000    <NA>    <NA>                 <NA>           <NA>
2023-02-14 00:00:00.000    <NA>    <NA>                 <NA>    45864975420
2023-03-06 20:59:59.815  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.815  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.843  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.870  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.970  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.976  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.980  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.986  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.988  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.995  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.997  130.18   130.2                 <NA>           <NA>
2023-03-06 20:59:59.997  130.18  130.19                 <NA>           <NA>
2023-03-06 20:59:59.997  130.18  130.19                 <NA>           <NA>
2023-03-06 21:00:00.008  130.18  130.19                 <NA>           <NA>
2023-03-06 21:00:00.238     0.0     0.0                 <NA>           <NA>
2023-03-06 21:00:02.279     0.0     0.0                 <NA>           <NA>

### Open High Low Close

#### Get tick data

In [12]:
df=rd.get_history(universe="GOOG.O", fields=['BID','ASK'], interval="tick", count=2000)
df

GOOG.O                     BID    ASK
Timestamp
2023-03-06 21:07:14.967  95.52  95.58
2023-03-06 21:07:14.968  95.52  95.58
2023-03-06 21:07:14.969  95.53  95.58
2023-03-06 21:07:14.969  95.53  95.58
2023-03-06 21:07:14.971  95.54  95.58
...                        ...    ...
2023-03-07 00:59:53.996  95.26  95.44
2023-03-07 00:59:53.996  95.26  95.44
2023-03-07 00:59:54.209  95.26  95.44
2023-03-07 00:59:54.209  95.26  95.45
2023-03-07 00:59:54.213  95.26  95.45

[2000 rows x 2 columns]

#### Resample to 5 seconds bars

In [13]:
df.ohlc("5s")

GOOG.O                 BID                         ASK
                      open   high    low  close   open   high    low  close
Timestamp
2023-03-06 21:07:10  95.52  95.56  95.52  95.54  95.58  95.58  95.57  95.58
2023-03-06 21:07:15  95.54  95.56  95.50  95.56  95.58  95.58  95.57  95.58
2023-03-06 21:07:20  95.56  95.56  95.56  95.56  95.58  95.58  95.58  95.58
2023-03-06 21:07:25  95.54  95.56  95.50  95.53  95.58  95.58  95.57  95.58
2023-03-06 21:07:30  95.53  95.53  95.53  95.53  95.58  95.58  95.58  95.58
...                    ...    ...    ...    ...    ...    ...    ...    ...
2023-03-07 00:59:30    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2023-03-07 00:59:35    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2023-03-07 00:59:40    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2023-03-07 00:59:45  95.35  95.35  95.35  95.35  95.45  95.45  95.44  95.44
2023-03-07 00:59:50  95.35  95.35  95.10  95.26  95.44  95.45  95.28  95.45

[2793 rows x 8 columns]

### Close the session

In [14]:
rd.close_session()